In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [3]:
PlayTennis = pd.read_csv('play_tennis.csv')
PT = PlayTennis.copy()

In [4]:
PlayTennis

     outlook humidity   windy play
0      Sunny     High    Weak   No
1      Sunny     High  Strong   No
2   Overcast     High    Weak  Yes
3       Rain     High    Weak  Yes
4       Rain   Normal    Weak  Yes
5       Rain   Normal  Strong   No
6   Overcast   Normal  Strong  Yes
7      Sunny     High    Weak   No
8      Sunny   Normal    Weak  Yes
9       Rain   Normal    Weak  Yes
10     Sunny   Normal  Strong  Yes
11  Overcast     High  Strong  Yes
12  Overcast   Normal    Weak  Yes
13      Rain     High  Strong   No

In [5]:
le = LabelEncoder()
PlayTennis['outlook'] = le.fit_transform(PlayTennis['outlook'])
PlayTennis['humidity'] = le.fit_transform(PlayTennis['humidity'])
PlayTennis['windy'] = le.fit_transform(PlayTennis['windy'])

In [6]:
PlayTennis

    outlook  humidity  windy play
0         2         0      1   No
1         2         0      0   No
2         0         0      1  Yes
3         1         0      1  Yes
4         1         1      1  Yes
5         1         1      0   No
6         0         1      0  Yes
7         2         0      1   No
8         2         1      1  Yes
9         1         1      1  Yes
10        2         1      0  Yes
11        0         0      0  Yes
12        0         1      1  Yes
13        1         0      0   No

In [7]:
X = PlayTennis[['outlook','humidity','windy']]
y = PlayTennis['play']

In [8]:
X

    outlook  humidity  windy
0         2         0      1
1         2         0      0
2         0         0      1
3         1         0      1
4         1         1      1
5         1         1      0
6         0         1      0
7         2         0      1
8         2         1      1
9         1         1      1
10        2         1      0
11        0         0      0
12        0         1      1
13        1         0      0

In [9]:
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: play, dtype: object

In [10]:
nb_model = GaussianNB()
nb_model = nb_model.fit(X,y)

In [11]:
nb_pred = nb_model.predict(X)
nb_pred

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype='<U3')

In [12]:
from sklearn import metrics
metrics.accuracy_score(nb_pred, y)

0.9285714285714286

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(nb_pred, y)

array([[4, 0],
       [1, 9]])

In [14]:
nb_model.predict([[2, 1, 1]])

array(['Yes'], dtype='<U3')

In [15]:
### Logistic Regression...

In [16]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model = lr_model.fit(X,y)
lr_model.score(X,y)

0.7857142857142857

In [17]:
### Decision Tree

In [18]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X,y)
clf.score(X,y)

1.0

In [19]:
### SVM

In [20]:
from sklearn.svm import SVC
svc = SVC(kernel='rbf')
svc.fit(X,y)
svc.score(X,y)

0.9285714285714286

## PyCaret

In [ ]:
! pip install pycaret[full]

In [ ]:
from pycaret.classification import *
s = setup(PlayTennis, target='play', session_id = 123)

In [ ]:
# functional API
best = compare_models()